
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Poppins:wght@400;700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

.gameContainer{
     display: flex;
     justify-content: center;
     margin-top: 50px;

}



nav{
    background-color: rgb(37, 9, 37);
    color: white;
    height: 75px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding:0 12px ;
    font-family: 'Roboto', sans-serif;

}

nav ul {
 list-style: none;   
}


.container {
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;

}

.box{
    border: 2px solid black;
    font-size:  8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center ;

}


.box:hover{
    background-color: rgb(232, 222, 240);
}

.gameinfo{
    padding:  0 34px;
    font-family: 'Baloo Bhaina 2';

}

.imgBox img{
    width: 0;
    transition: width 1s ease-in-out;   
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.info{
    font-size: 25px;

}

.bb-0{
border-bottom: 0;
}

#reset{
    margin: 0 23px; 
    padding: 6px 14px;
    background: #ead2ea;
    border-radius: 6px;
    cursor: pointer;  
    font-family: 'Baloo Bhaina 2';
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    /*CSS Rules to be applies */
    .gameContainer{
        flex-wrap: wrap;

    }
    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
}